@import "tailwindcss";

@font-face {
  font-family: "Lyon Arabic";
  src: url("/fonts/Lyon_Arabic_2/COMM - Lyon Arabic Display Medium.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Lyon Arabic";
  src: url("/fonts/Lyon_Arabic_2/COMM - Lyon Arabic Display Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

html,body {
  font-family: "Lyon Arabic", sans-serif;

  margin: 0;
  padding: 0;
}




body {
  --sb-track-color: #ffffff;
  --sb-thumb-color: #0068b3;
  --sb-size: 13px;
}

body::-webkit-scrollbar {
  width: var(--sb-size);

}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color)
                     var(--sb-track-color);
  }
}


